---
import '../styles/footer.css';
---

<footer class="footer">

  <div class="overlay">
    <div class="container">

      <!-- COLUNA 1 -->
      <div class="col1">
        <div class="logo">
  <img src="/fachadas-de-acm-logo.png" alt="Fachadas em ACM" width="144" height="88" loading="eager" decoding="async"/>
</div>

        <p>
          Somos especializados em soluções completas em fachadas de ACM, lonas impressas, banners e comunicação visual, que abrangem desde o projeto, montagem e instalação da fachada com letreiros simples, luminosos ou em 3D.
        </p>

        <p>
          Valorizamos sua marca, comunicando-se com impacto. Grave sua marca com estratégia na mente do consumidor, transformando visitantes em clientes.
        </p>

        <p>
          Atendemos empresas, escritórios, galpões, condomínios residenciais, indústrias, lojas e comércio em geral.
        </p>

        <p>
          Executamos serviços com preço justo, feitos para durar muito mais com o retorno do seu investimento garantido.
        </p>

        <h4 class="t4">Política de Privacidade</h4>

        <p>
          Para que você tenha uma boa experiência, este site utiliza cookies. Consulte nossa Política de Privacidade e os Termos de Uso para saber mais sobre como usamos, protegemos e cuidamos dos seus dados durante a navegação.
        </p>
      </div>

      <!-- COLUNA 2 -->
      <div class="col2">
        <h4>Mapa do Site</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/empresa">Empresa</a></li>
          <li><a href="/servicos">Serviços</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/orcamento">Orçamento</a></li>
          <li><a href="/trabalhe-conosco">Trabalhe Conosco</a></li>
          <li><a href="/termos">Termos de Uso</a></li>
          <li><a href="/privacidade">Política de Privacidade</a></li>
        </ul>
      </div>

      <!-- COLUNA 3 -->
      <div class="col3">
        <h4>Contatos</h4>
        <ul>
          <li><a href="tel:+551131630383">São Paulo (11) 3163-0383</a></li>
          <li><a href="tel:+551535008612">Sorocaba (15) 3500-8612</a></li>
          <li><a href="tel:+551131630383">Jundiaí (11) 3163-0383</a></li>
          <li><a href="tel:+551920420045">Campinas (19) 2042-0045</a></li>
          <li class="location">Minas Gerais - Em breve</li>
          <li class="location">Paraná - Em breve</li>
          <li><a href="mailto:contato@fachadasemacm.com.br">contato@fachadasemacm</a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- BARRA FINAL -->
  <div class="bottom">
    2007–2026 — Fachadas de ACM © Todos os direitos reservados
  </div>

  <!-- BOTÃO WHATSAPP -->
  <a href="https://wa.me/5511999999999" class="whatsapp" target="_blank">
    💬
  </a>

</footer>