---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';  
import '../styles/global.css';
---
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fachadas em ACM em São Paulo | Instalação e Projetos</title>
    <meta name="description" content="Especialistas em fachadas em ACM em São Paulo. Projetos, instalação e manutenção com alto padrão de qualidade." />
    <!-- PRELOAD (APENAS O ESSENCIAL) -->
    <link rel="preload" href="/fonts/inter/inter-v20-latin-400.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" as="style" href="/_astro/index.css">
    <style>
.header {
  background:#000;
  color:#fff;
}
.header-container {
  display:flex;
  justify-content:space-between;
  align-items:center;
}
</style>
  </head>
  <body>
    <Header />
    <Hero />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>